@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

body{
    background-image: url(fotos/3.gif);
    font-family: 'Arvo', serif;
}

#contenedor {
       background-color: red;
        width: 700px;
        height: 60vh;
        position: absolute;
        inset: 0;
        margin: auto;
        text-align: center;
        border-radius: 5%;
#calculadora{
    background: whitesmoke;
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 3%;
    box-shadow: 0 0 15px black;
}
#detalle{  
    width:50%;
    height:0%;
    float: left;
    border-radius: 1.5%;
    box-shadow: 0 0 5px black;
}
#button{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arvo', serif;
    border-radius: 10px;
    padding: 13px 50px;
    text-transform: uppercase;
    border: 1px solid red;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
    background-color: yellow;
    
}
#titulo{
   color: firebrick;
   
}
#calcu{
    color: wheat;
}
#input{
    color: black;
    border-radius: 60px;
    padding-top: 5px;
    padding-right: 5%;
}